@{
    ViewBag.Title = "Home Page";
}

<div >
    <h1 style="text-align: center; font-size: 1300%; color: #C0C0C0 " >SKYBOOK</h1>
    <p style="color: #C0C0C0" class="lead">No Mans Sky is a game of scale comparable to no other. With an almost infinite amount of content to discover, you're going to need a way to keep track of all of your favorite findings. That's where Skybook comes in.
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: #C0C0C0">Check It Out</h2>
        <p style="color: #C0C0C0">
            If you haven't played No Mans Sky before, I highly recommend it. Feel free to check out the game by clicking the button below to visit the developers website.'
        </p>
        <p><a class="btn btn-default" href="https://www.nomanssky.com/">Developer Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2 style="color: #C0C0C0">Community</h2>
        <p style="color: #C0C0C0">No Mans Sky has developed a thriving community of dedicated explorers. Visit the sub reddit dedicated to the game and see some of the wonderful work the community has done.</p>
        <p><a class="btn btn-default" href="https://www.reddit.com/r/NoMansSkyTheGame/">Reddit Community &raquo;</a></p>
    </div>
</div>